body {
    background: linear-gradient(to right, #ffcc99, #ff9966);
    color: #4d2600;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: rgba(255, 140, 102, 0.8);
    padding: 20px;
    font-size: 20px;
    color: white;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    color: #ff6600;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.photo-card img {
    width: 250px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.photo-card img:hover {
    transform: scale(1.1);
}
