{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
    <header>
        <h1>Contact Me</h1>
        <nav>
            <ul>
                <li><a href="{% url 'gallery' %}">Nature Photography</a></li>
                <li><a href="{% url 'food_photography' %}">Food Photography</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="contact-form">
            <h2>Get in Touch</h2>
            <form id="contactForm">
                <input type="text" id="name" placeholder="Your Name" required>
                <input type="email" id="email" placeholder="Your Email" required>
                <textarea id="message" placeholder="Your Message" required></textarea>
                <button type="submit">Send</button>
            </form>
        </section>

    </main>

    <footer>
        <p>© 2025 My Photography Portfolio. All rights reserved.</p>
        <div class="social-icons">
            <a href="#"><img src="{% static 'images/facebook.png' %}" alt="Facebook"></a>
            <a href="#"><img src="{% static 'images/instagram.png' %}" alt="Instagram"></a>
            <a href="#"><img src="{% static 'images/x.jpg' %}" alt="Twitter"></a>
        </div>
    </footer>
    
    

    <script src="{% static 'js/contact.js' %}" defer></script>
</body>
</html>
